#board {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 25vmin;
  text-align: center;
}

#bottombar {
  height: 5vh;
}

#instructions {
  height: 5vh;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border: 2px solid #2196F3;
  font-size: 1.2em;
  font-weight: bold;
}

#bottombar button {
  width: 50%;
  /* height: 100%; */
  margin: 0;
  padding: 10px;
  position: relative;
  float: left;
  font-size: 2vw;
  cursor: pointer;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.playable { background-color: red;}